body{
	font-family: "Raleway", sans-serif;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	  height: 64px;
	  
	  
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 120px;
	height: 120px;
	  margin-top: 450%;
	  margin-left: -50%;
	border: 13px solid whitesmoke;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: whitesmoke transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  

#nav-img{
	height: 120px;
}

.w3-sidebar{
	width: 110px;
	background: #222;
	
}

#nav a:hover{
	text-decoration: none;
}

#nav a{
	text-decoration: none;
}

#myNavbar a:hover{
	text-decoration: none;
}

#myNavbar a{
	text-decoration: none;
}


#main{
	margin-left: 120px;
}

#name{
	width:50%;
	height: auto;
}

#home{
	animation-duration: 2s;

}

#image{
	width:760px;
	height: auto;
}

#name{
	margin-top: -10px;
	margin-left: -20px;
}



#about-me-head{
	font-size: 40px;

}

#about-me{
	font-size: 20px;

}



#skills{
	padding-top: 65px;
	font-size: 40px;

}

#button a:hover{
	text-decoration: none;
}

#resume-button{
    position:relative;
	margin-top:30px;
	

}

.contact-tabu{
	
	font-size: 18px;
	text-decoration: none;

}

#contact-tab{
	padding-left: 110px;
}


#contact-me{
	padding-top: 68px;
	font-size: 40px;

}

#addrs-1{
	margin-left: 60px;
	margin-top: -60px;
	
}

#addrs-2{
	margin-left: 60px;
	margin-top:-5px;
	
}

#map{
	margin-top: 30px;
}

#call-ico{
	margin-top: 25px;
	margin-left: -5px;
}

#phone{
	margin-left: 60px;
	margin-top: -45px;
}

#mail-ico{
	margin-left: -5px;
	margin-top: 25px;
}

#mail{
	margin-left: 60px;
	margin-top: -45px;
}

#mail a{
	color:white;
}

#mail a:hover{
	text-decoration: none;
	color: grey;
}




#social_media{
	margin-left: -13rem;
	margin-top: 5rem;
}

#fb{
font-size: 4.5rem;
padding-right: 5rem;
}

#linkdin{
	font-size: 4.5rem;
	padding-right: 5rem;
}

#insta{
	font-size: 4.5rem;
	padding-right: 5rem;
}

#git{
	font-size: 4.5rem;
}


@media only screen and (max-width:600px)
{
	#main {margin-left: 0}

	#image{
	width:560px;
	height: auto;
}

#name{
	margin-top: -10px;
	margin-left: -20px;
	width: 80%;
	height: auto;
}

#contact-tab{
	padding-left:0px;
}

#social_media{
	margin-left: 0rem;
}

#fb{
font-size: 4.5rem;
padding-right: 3rem;
}

#linkdin{
	font-size: 4.5rem;
	padding-right: 3rem;
}

#insta{
	font-size: 4.5rem;
	padding-right: 3rem;
}

#git{
	font-size: 4.5rem;
}

}

@media only screen and (min-width: 600px) and (max-width:1024px){
    #contact-tab{
	padding-left: 10px;
}
}

	